


<div class='row'>
  <div class='text-center'>
    <h1><%= @user.name %></h1>
  </div>
</div>

<div class="container">
  <div class="col-xs-12 col-sm-6">
    <div class='row text-center'>
           <%= user_picture(@user) %>
    </div>

    <div class='row'>
      <div class='col-xs-6 col-xs-offset-3'>
        <div class='panel-heading text-center'>
          <div class='title-grey'>
              <p> <%= @user.email %> </p>
          </div>
          <h4> Team: <%= @user.group.name %> </h4>
          <h4> Age: <%= @user.age %> </h4>
          <h4> #: <%= @user.phone_number %> </h4>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-6">
    <div class='panel-heading text-center title-grey' >
      <h4> Ses statistiques </h4>
    </div>
  </div>
</div>

<br>

<div class="container">
  <div class='panel-heading text-center title-grey'>
    <h4> Ses prochaines activités avec la team <%= @user.group.name %> </h4>
  </div>
  <% if @user.bookings.any? %>
    <% @user.bookings.each do |booking| %>
      <div class="container">
        <div class="col-md-6 col-lg-4">
          <% if booking.activity.date > Date.today %>
            <ul style="list-style: none;">
              <li><%= booking.activity.date %></li>
              <li><p> <%= link_to 'Détails', group_activity_path(@user.group) %></li>
            </ul>
          <% end %>
        </div>
      </div>
    <% end %>
  <% else %>
    <p> Elle n'a pas encore prévu d'activité soon</p>
  <% end %>
</div>

<br>
