<br>
<br>


<h4 class="text-center">Renvoyer le mail de confirmation</h4>
<br>
<div class="container">
  <div class="col-sm-6 offset-sm-3 col-md-4 offset-md-4">
    <%= simple_form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
      <%= f.error_notification %>
      <%= f.full_error :confirmation_token %>

      <div class="form-inputs">
        <%= f.input :email, required: true, autofocus: true, :input_html => { :class => "hard-corner"}, placeholder:"email" %>
      </div>

      <div class="form-actions">
        <%= f.submit class: 'btn btn-primary btn-block hard-border btn-primary1', value: "Renvoyer" %>
      </div>
    <% end %>
  </div>
<br>
  <div class="col-sm-6 offset-sm-3" style="text-align: center">
    <%= render "devise/shared/links" %>
  </div>
  <br>
</div>
