<% location.activities.planned.each do |activity| %>
  <% if activity.group == current_user.group %>
    <div class='panel-heading'>
      <h3> <%= activity.name %> </h3>
      <div class='row'>
        <div class='col-xs-6'>
          <p> <%= activity.sport.name %> <p>

          <% if activity.bookings.count == activity.number_of_players %>
            <p> Complet pour le moment ! <p>
          <% else %>
            <p> <%= activity.bookings.count %> / <%= activity.number_of_players %> flyers ! </p>
          <% end %>
        </div>
        <div class='col-xs-6'>
          <%= link_to 'Détails', group_activity_path(current_user.group, activity), class: 'btn btn-primary-inverted' %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
