
<div class="container main-content">
  <div class="col-sm-4 offset-sm-4">

    <h2 class="distance" style="margin-bottom: 15px"><%= t('users.sign_in.sign_up') %></h2>
    <div class="panel panel-sign">
      <h6><%= t('users.sign_in.sign_up_warning') %></h6>
    </div>

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :name, label: t('contact.name'), required: true, autofocus: true, :input_html => { :class => "hard-corner"}, placeholder:"Nom" %>
        <%= f.input :email, required: true, :input_html => { :class => "hard-corner"}, placeholder:"email" %>
        <%= f.input :password, label: t('users.sign_in.password'), required: true, :input_html => { :class => "hard-corner"}, placeholder:"mot de passe" %>
        <%= f.input :password_confirmation, label: t('users.sign_in.password_confirmation'),required: true, :input_html => { :class => "hard-corner"}, placeholder:"confirmer mot de passe" %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, t('users.sign_in.sign_up') ,class:'btn-primary1 btn-block hard-border' %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
  <br>
</div>

