<h1>Tu as été invité par <%= @user.name %></h1>

<p> <%= @greeting %> <%= @user.name %> t'invite à flyer ! </p>

<p> Tu peux maintenant flyer "<%= @activity.name %>" et faire du <%= @activity.sport.name %>. </p>

<p><%= link_to "Click pour flyer !", group_activity_url(@group, @activity), method: :get, class: 'btn btn-primary-inverted' %></p>

<p> A très bientôt sur Sportifly ! </p>

