<h1>Tu as été invité par <%= @user.name %></h1>

<p> <%= @greeting %>, <%= @user.name %> t'invite à rejoindre Sportifly ! </p>

<p> Inscris-toi et rejoins une activité sportive proposée par le Team <%= @user.group.name %> tout autour du monde ! </p>

<p><%= link_to "Ok, je m'inscris !", new_user_session_url, class: 'btn btn-primary-inverted' %></p>

<p> A très bientôt sur Sportifly ! </p>

