<button type="button" class="font-size-modal" data-toggle="modal" data-target="#modal-1">Badges</button>
  <div class="modal fade" id="modal-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h3 class="modal-title">Règles des badges</h3>
        </div>
        <div class="modal-body">
          <table class="table">
              <thead>
                <tr>
                  <th class="text-center">Badges</th>
                  <th class="text-center"></th>
                  <th class="text-center">Niveau</th>
                </tr>
              </thead>
              <tbody>

                <tr class="noBorder">
                  <td class="td-remove-border"><%= image_tag (Merit::Badge.find(3).custom_fields[:img_url])%></td>
                  <td class="pull-left td-remove-border"> Sportif de canapé </td>
                  <td>0 fly</td>
                </tr>
                <tr class="noBorder">
                  <td class="td-remove-border"><%= image_tag (Merit::Badge.find(4).custom_fields[:img_url])%></td>
                  <td class="pull-left td-remove-border"> Sportif du dimanche </td>
                  <td>1-5 fly</td>
                </tr>
                <tr>
                  <td class="td-remove-border"><%= image_tag (Merit::Badge.find(5).custom_fields[:img_url])%></td>
                  <td class="pull-left td-remove-border"> Sportif amateur </td>
                  <td>5-10 fly</td>
                </tr>
                <tr>
                  <td class="td-remove-border"><%= image_tag (Merit::Badge.find(6).custom_fields[:img_url])%></td>
                  <td class="pull-left td-remove-border"> Sportif acharné</td>
                  <td>10-25 fly</td>
                </tr>
                <tr>
                  <td class="td-remove-border"><%= image_tag (Merit::Badge.find(7).custom_fields[:img_url])%></td>
                  <td class="pull-left td-remove-border"> Christopher Froome </td>
                  <td>+25 fly</td>
                </tr>
                <tr>
                  <td class="td-remove-border"><%= image_tag (Merit::Badge.find(1).custom_fields[:img_url])%></td>
                  <td class="pull-left td-remove-border"> Arsene Wenger </td>
                  <td>+5 newsfeeds</td>
                </tr>
                <tr>
                  <td class="td-remove-border"><%= image_tag (Merit::Badge.find(2).custom_fields[:img_url])%></td>
                  <td class="pull-left td-remove-border"> Pierre Menes </td>
                  <td>+10 newsfeeds</td>
                </tr>
              </tbody>
            </table>

        </div>
        <div class="modal-footer">
          <a href="" class="btn btn-default" data-dismiss="modal"> Fermer </a>
        </div>
      </div>
    </div>
  </div>
