
<div class='row'>
  <div class='text-center'>
    <h2> Ton profil </h2>
  </div>
  <div class='pull-right'>
  <%= link_to "Mettre à jour", edit_account_dashboard_users_path, class: "right-btn navbar-wagon-button"  %>
  </div>
</div>

<div class="container">
  <div class="col-xs-12 col-sm-6">
    <div class='row text-center'>
      <%= user_picture(@user) %>
    </div>
    <div class='row'>
      <div class='col-xs-6 col-xs-offset-3'>
        <div class='panel-heading text-center'>
          <div class='title-grey'>
            <% if @user.name %>
              <h2> <%= @user.name %> </h2>
            <% else %>
              <p> <%= @user.email %> </p>
            <% end %>
          </div>
          <h4> Team: <%= @user.group.name %> </h4>
          <h4> Age: <%= @user.age %> </h4>
          <h4> #: <%= @user.phone_number %> </h4>
          <h4> Je fly en: </h4>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-6">
    <div class='panel-heading text-center title-grey' >
      <h4> Mes statistiques </h4>
    </div>
    <p> form to update the profil </p>
  </div>
</div>

<br>

<div class="container">
  <div class='panel-heading text-center bg-blue'>
    <h4> Tes prochaines activités avec la team <%= @user.group.name %> </h4>
  </div>

  <% if @bookings_planned.exists? %>
    <% @bookings_planned.each do |booking| %>
      <div class="container">
        <div class="col-md-6 col-lg-4">
          <ul style="list-style: none;">
            <li><%= booking.activity.date %></li>
            <li> Tu fly avec </li>
            <li><p> <%= link_to 'Détails', group_activity_path(@user.group, booking.activity ) %></li>
            <%= link_to "Annuler",  group_activity_booking_path(@user.group, booking.activity, booking, referral: 'dashboard-page'), method: :delete, class: "btn btn-warning" %>
          </ul>
        </div>
      </div>
    <% end %>
  <% else %>
    <p> Tu n'as pas encore prévu d'activité.</p>
    <p> Créer une activité </p>
    <p> Chercher une activité </p>
  <% end %>
</div>

<% if @bookings_passed.exists? %>
  <div class="container">
    <div class='panel-heading text-center bg-blue'>
      <h4> Tes activités passées avec la team <%= @user.group.name %> </h4>
    </div>

    <% @bookings_passed.each do |booking| %>
      <div class="container">
        <div class="col-md-6 col-lg-4">
          <ul style="list-style: none;">
            <li><%= booking.activity.date %></li>
            <li> Tu fly avec </li>
            <li><p> <%= link_to 'Détails', group_activity_path(@user.group, booking.activity ) %></li>
          </ul>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
