
<div class='panel-heading'>
<%= simple_form_for(@activity, url: group_activity_path(current_user.group, @activity), html: { multipart: true }) do |f| %>
  <%= f.error_notification %>
  <div class="container">
    <div class="row">`
      <div class="col-sm-4 col-sm-offset-4">
      <h3> <%= t'activity.edit.info'%> </h3>

      <div>
        Sport :
        <%= @activity.sport.name %>
      </div>

      <%= f.association :location, label: t('activity.edit.location'), collection: @activity.sport.locations %>
      <%= f.input :number_of_players, label: t('activity.edit.players') %>
      <%= f.input :price, label: t('activity.edit.price') %>
      <%= f.input :date, :minute_step => 15, label: t('activity.edit.date') %>

      <div class='text-center'>
        <%= f.button :button do %>
        <div class="btn btn-activity-creation"><%= t'activity.edit.update'%></div>
        <% end %>
      </div>
      </div>
    </div>
  </div>
<% end %>
</div>
