
<div class='container panel-heading text-center'>

  <% if params[:city] %>
    <h1 class="text-center"> A <%= params[:city] %>, la team <%= @group.name %> te propose:</h1>
  <% else %>
    <h1 class="text-center"> La team <%= @group.name %> te propose:  </h1>
  <% end %>
</div>

<div class="form-group text-center">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 col-sm-offset-4">
        <%= form_tag("/activities", method: "get") do %>
          <%= text_field_tag :city, params[:city], class: "form-control", placeholder: 'Dans quelle ville veux-tu flyer ?' %>
          <%= submit_tag "Je fly", class: 'btn navbar-wagon-button' %>
        <% end %>
      </div>
    </div>
  </div>
</div>



