<%= simple_form_for([:group, @activity], html: { multipart: true }) do |f| %>
  <%= f.error_notification %>
  <div class="container">
    <div class="row">
      <%= f.input :name %>
      <%= f.association :sport %>
      <%= f.association :location %>
      <%= f.input :description %>
      <%= f.input :number_of_players %>
      <%= f.input :date %>
      <%= f.input :price %>
      <%= f.input :open %>


      <%= f.button :submit %>
    </div>
  </div>
<% end %>




