<div class="container panel-heading text-center">
  <%= simple_form_for([:group, @activity], html: { multipart: true }) do |f| %>
    <%= f.error_notification %>
    <div class="row">`
      <div class="col-sm-5 col-sm-offset-3">

      <%= f.input :name, label: :'Le ptit nom' %>
      <%= f.association :sport %>
      <%= f.association :location, label: :'A quel endroit ?', label_method: :name, value_method: :id %>
      <%= f.input :description %>
      <%= f.input :number_of_players, label: :'Combien de joueurs' %>
      <%= f.input :date, :minute_step => 15, label: :'Date et heure' %>
      <%= f.input :price, label: :'Prix par personne'  %>
      <%= f.input :open, label: :'Privé ou Public ?' %>
      <%= f.button :button do %>
      <div class="btn btn-activity-creation">Je crée l'activité</div>
      <% end %>
      </div>
    </div>
  <% end %>
</div>




