<div class="container">
  <div class="row col-xs-12 col-md-3">

      <%= image_tag @activity.captain.picture(:thumb) %>
        <br>
      <%= @activity.captain.name %>

      <%= @activity.number_of_players %>
        <br>
        <br>
      <%= @activity.open %>
  </div>

  <div class="row col-sm-12 col-md-9">
    <div class="col-xs-12">
      <%= image_tag @activity.sport.picture(:large) %>
    </div>
    <div class="row col-xs-12">
      <div class="row col-sm-6">
        <div class="row col-sm-6">
          <ul>
            <li><%= @activity.name %></li>
            <li><%= @activity.sport.name %></li>
            <li><%= @activity.date %></li>
          </ul>
        </div>
        <div class="row col-sm-6">
          <h3>commentaires</h3>
        </div>
      </div>
      <div class="row col-sm-6 text-center">
        MAPS
      </div>
    </div>
  </div>

</div>


