<div class="main-banner">
  <div class="main-banner--content">
    <div class="text-center main-banner--shadow">
    </div>
  </div>
</div>
<br>
<br>

<h2 class="text-center">Change ton mot de passe</h2>

<div class="container">
  <div class="col-xs-6 col-xs-offset-3">

    <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
      <%= f.error_notification %>

      <%= f.input :reset_password_token, as: :hidden %>
      <%= f.full_error :reset_password_token %>

      <div class="form-inputs">
        <%= f.input :password, label: "New password", required: true, autofocus: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
        <%= f.input :password_confirmation, label: "Confirm your new password", required: true %>
      </div>

      <div class="form-actions">
        <%= f.submit class: 'btn btn-primary btn-block', value: "New password" %>
      </div>
    <% end %>
  </div>

  <div class="col-xs-6 col-xs-offset-3">
    <%= render "devise/shared/links" %>
  </div>
  <br>
</div>
