
<%= form.error_notification %>

<%= form.input :name, label: t('club.name') %>
<%= form.input :address, label: t('club.street'), label_method: :name, value_method: :id %>
<%= form.input :city, label: t('club.city') %>
<%= form.input :postcode, label: t('club.postcode') %>

<%= form.simple_fields_for :location_sports do |sport_form| %>
 <%= sport_form.association :sport %>
<% end %>

<%= form.button :button do %>
 <div class="btn btn-activity-creation"><%= t'club.add'%></div>
<% end %>
