
<%= form.error_notification %>

<%= form.input :name, label: :'Nom du club' %>
<%= form.input :address, label: :'Numéro et rue', label_method: :name, value_method: :id %>
<%= form.input :city, label: :'Ville' %>
<%= form.input :postcode %>

<%= form.simple_fields_for :location_sports do |sport_form| %>
 <%= sport_form.association :sport %>
<% end %>

<%= form.button :button do %>
 <div class="btn btn-activity-creation">Référencer</div>
<% end %>
