<% if current_user %>
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" id="navbar">
      <%= link_to root_path, class: 'navbar-brand' do%>
        <b> Meetemps </b>
      <% end %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav m-auto">
          <li class="nav-item active" id="create-act">
          <%= link_to t('group.creation'), new_group_activity_path(current_user.group), class: 'nav-link', id: 'create-btn' %>
          </li>
          <li class="nav-item">
            <%= link_to 'tous', root_path, class:'nav-link' %>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">activités</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">vestiaire</a>
          </li>
        </ul>
      </div>
    </nav>

<% elsif current_page?(root_path) %> <!-- /.navbar if not signed-in and home page-->

<nav id="mainNav" class=" navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">

          <%= link_to root_path, class: 'navbar-brand hover' do%>
            <b> Meetemps </b>
          <% end %>
        <a class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="glyphicon glyphicon-chevron-down"></span>
        </a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li>
              <a class="page-scroll" href="#services"><%= t('navbar.services')%> </a>
          </li>
          <li>
              <a class="page-scroll" href="#about"><%= t('home.about')%></a>
          </li>
<!--           <li>
              <a class="page-scroll" href="#portfolio">Portfolio</a>
          </li> -->
          <li>
              <a class="page-scroll" href="#contact">Contact</a>
          </li>
          <li>
              <a target="_blank" href="https://medium.com/@meetemps">Blog</a>
          </li>
          <li>
            <%= link_to t('users.sign_in.log_in'), new_user_session_path, class: 'hover text-navbar' %>
          </li>

          <li>
            <% if params[:locale] == "en"%>
              <%= link_to url_for( :locale => 'fr' ) do %>
                <%= image_tag 'france.png'%>
            <%end%>
            <% elsif params[:locale] == "fr" %>
              <%= link_to url_for( :locale => 'en' ) do %>
                <%= image_tag 'united-kingdom.png'%>
              <%end%>
            <% else %>
              <%= link_to url_for( :locale => 'en' ) do %>
                <%= image_tag 'united-kingdom.png'%>
              <%end%>
            <%end%>
          </li>
        </ul>
      </div>
    </div>
  </nav>

<% else %> <!-- /.navbar if not signed-in but user is not on home page-->

<nav id="mainNav" class=" navbar-default">
    <div class="container">
      <div class="navbar-header">

          <%= link_to root_path, class: 'navbar-brand hover' do%>
            <b> Meetemps </b>
          <% end %>
        <a class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="glyphicon glyphicon-chevron-down"></span>
        </a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <%= link_to t('users.sign_in.log_in'), new_user_session_path, class: 'hover text-navbar' %>
          </li>

          <li>
            <% if params[:locale] == "en"%>
              <%= link_to url_for( :locale => 'fr' ) do %>
                <%= image_tag 'france.png'%>
            <%end%>
            <% elsif params[:locale] == "fr" %>
              <%= link_to url_for( :locale => 'en' ) do %>
                <%= image_tag 'united-kingdom.png'%>
              <%end%>
            <% else %>
              <%= link_to url_for( :locale => 'en' ) do %>
                <%= image_tag 'united-kingdom.png'%>
              <%end%>
            <%end%>
          </li>
        </ul>
      </div>
    </div>
  </nav>
<% end %>


