<% if current_user %>
  <nav id="mainNav" class="navbar-default x-navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <%= link_to group_root_path(current_user.group), class: 'navbar-brand hover' do%>
          <b> Sportifly </b>
        <% end %>
        <a class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <% if current_user.bookings.planned.pending.any? %>
            <i class="fa fa-bell"></i>
          <% else %>
            <span class="glyphicon glyphicon-chevron-down"></span>
          <% end %>
        </a>
      </div>




      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="dropdown">
            <%= link_to t('group.creation'), new_group_activity_path(current_user.group), class: 'text-navbar btn-primary-inverted btn-activity' %>
          </li>
          <li class='visible-xs'>
            <%= link_to account_dashboard_path do %>
              <% if current_user.bookings.planned.pending.any? %>
                <p><%= t('navbar.profile')%><i class="fa fa-bell"></i></p>
              <% else %>
                <p><%= t('navbar.profile')%></p>
              <% end %>
            <% end %>
          </li>
          <li class='visible-xs'>
            <% if user_signed_in? %>
              <%= link_to t('navbar.logout'), destroy_user_session_path, method: :delete %>
            <% else %>
              <%= link_to 'Log in', new_user_session_path, class: 'text-navbar' %>
            <% end %></li>
          <li class="divider"></li>
          <li class='visible-xs'>
            <%= link_to t('navbar.invit'), group_users_path(current_user.group) %></li>

          <li class='visible-xs'>
            <% if params[:locale] == "en"%>
              <%= link_to url_for( :locale => 'fr' ) do %>
                <%= image_tag 'france.png'%>
              <%end%>
            <% elsif params[:locale] == "fr" %>
              <%= link_to url_for( :locale => 'en' ) do %>
                <%= image_tag 'united-kingdom.png'%>
              <%end%>
            <% else %>
              <%= link_to url_for( :locale => 'en' ) do %>
                <%= image_tag 'united-kingdom.png'%>
              <%end%>
            <%end%>
          </li>
        </ul>



        <ul class="nav navbar-right navbar-nav hidden-xs">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle hover" data-toggle="dropdown"><i class="glyphicon glyphicon-user"></i> <i class="glyphicon glyphicon-chevron-down"></i>
              <% if current_user.bookings.planned.pending.any? %>
                <div class="badge-notif hover">
                  <i class="fa fa-bell"></i>
                </div>
              <% end %>
            </a>
            <ul class="dropdown-menu">
              <li>
                <%= link_to account_dashboard_path do %>
                  <% if current_user.bookings.planned.pending.any? %>
                    <p><%= t('navbar.profile')%>   <i class="fa fa-bell"></i></p>
                  <% else %>
                    <p> <%= t('navbar.profile')%> </p>
                  <% end %>
                <% end %>
              </li>
              <li><% if user_signed_in? %>
                    <%= link_to t('navbar.logout'), destroy_user_session_path, method: :delete %>
                  <% else %>
                    <%= link_to 'Log in',  new_user_session_path, class: 'text-navbar' %>
                  <% end %></li>
              <li class="divider"></li>
              <li><%= link_to t('navbar.invit'), group_users_path(current_user.group) %></li>
            </ul>

          </li>
          <li>
            <% if params[:locale] == "en"%>
              <%= link_to url_for( :locale => 'fr' ) do %>
                <%= image_tag 'france.png'%>
            <%end%>
            <% elsif params[:locale] == "fr" %>
              <%= link_to url_for( :locale => 'en' ) do %>
                <%= image_tag 'united-kingdom.png'%>
              <%end%>
            <% else %>
              <%= link_to url_for( :locale => 'en' ) do %>
                <%= image_tag 'united-kingdom.png'%>
              <%end%>
            <%end%>
         </li>
        </ul>
      </div>
    </div>
  </nav>

<% else %> <!-- /.navbar if not signed-in-->

<nav id="mainNav" class=" navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">

          <%= link_to root_path, class: 'navbar-brand hover' do%>
            <b> Sportifly </b>
          <% end %>
        <a class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="glyphicon glyphicon-chevron-down"></span>
        </a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li>
              <a class="page-scroll" href="#services"><%= t('navbar.services')%> </a>
          </li>
          <li>
              <a class="page-scroll" href="#about"><%= t('home.about')%></a>
          </li>
<!--           <li>
              <a class="page-scroll" href="#portfolio">Portfolio</a>
          </li> -->
          <li>
              <a class="page-scroll" href="#contact">Contact</a>
          </li>
          <li>
            <%= link_to 'Log in', new_user_session_path, class: 'hover text-navbar' %>
          </li>

          <li>
            <% if params[:locale] == "en"%>
              <%= link_to url_for( :locale => 'fr' ) do %>
                <%= image_tag 'france.png'%>
            <%end%>
            <% elsif params[:locale] == "fr" %>
              <%= link_to url_for( :locale => 'en' ) do %>
                <%= image_tag 'united-kingdom.png'%>
              <%end%>
            <% else %>
              <%= link_to url_for( :locale => 'en' ) do %>
                <%= image_tag 'united-kingdom.png'%>
              <%end%>
            <%end%>
          </li>
        </ul>
      </div>
    </div>
  </nav>
<% end %>


