
<div class='text-center'>
<h1> Mets à jour ton profil </h1>
</div>

<div class='panel-heading'>
<%= simple_form_for([:account, :dashboard, @user], url: account_dashboard_users_path, html: { multipart: true }) do |f| %>
  <%= f.error_notification %>
  <div class="container">
    <div class="row">`
      <div class="col-sm-4 col-sm-offset-4">

      <%= f.input :name %>
      <%= f.input :crew %>
      <%= f.input :age %>
      <%= f.input :phone_number %>
      <%= f.input :picture %>




      <%= f.button :submit %>
      </div>
    </div>
  </div>
<% end %>
</div>


