<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h2 class="">Meetemps</h2>
            <hr>
            <h2><%= t('home.sub_title') %></h2>
            <div class="col-sm-6">
            <h4><%= t('home.demo_text') %></h4>
            <a href="#contact" class="btn btn-primary btn-xl page-scroll"><%= t('home.demo') %></a>
            </div>
            <div class="col-sm-6 verticalLine">
            <h4><%= t('home.sign_in_text') %></h4>
            <a href=""><%= link_to t('users.sign_in.sign_up'), new_user_registration_path, class: 'btn btn-primary btn-xl page-scroll' %></a>
            </div>
        </div>
    </div>
</header>

