<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center">
                <h2 class="section-heading big-john">Meetemps</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-users wow bounceIn text-primary"></i>
                    <h3><%= t('home.create_links')%></h3>
                    <p class="text-muted"><%= t('home.create_links_text')%></p>
                </div>
            </div>
            <div class="col-xs-12 col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-futbol-o wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3><%= t('home.sub_title_firstbloc_title')%></h3>
                    <p class="text-muted"><%= t('home.sub_title_firstbloc')%></p>
                </div>
            </div>
            <div class="col-xs-12 col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-lock wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3><%= t('home.sub_title_secondbloc_text')%></h3>
                    <p class="text-muted"><%= t('home.sub_title_secondbloc')%></p>
                </div>
            </div>
            <div class="col-xs-12 col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-globe wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3><%= t('home.sub_title_thirdbloc_text')%></h3>
                    <p class="text-muted"><%= t('home.sub_title_thirdbloc')%></p>
                </div>
            </div>
        </div>
    </div>
</section>

