<section id="contact">
  <div align="center">
    <h3><%= t'contact.title'%></h3>
    <div class="col-xs-6 col-xs-offset-3 col-sm-6 col-sm-offset-3">
      <%= simple_form_for @contact, :html => {:class => 'form-horizontal' }, url: "/contact#contact" do |f| %>
        <br>
        <%= f.input :name, label: t('contact.name'), :required => true %>
        <br>
        <%= f.input :email, :required => true %>
        <br>
        <%= f.input :phone_number, label: t('contact.tel'), :required => true %>
        <br>
        <%= f.input :message, :as => :text, :input_html => {:style=> 'height: 95px'}, :required => true %>
        <div class= "hidden">
          <%= f.input :nickname, :hint => 'Leave this field blank!' %>
        </div>
        <div>
          </br>
          <%= f.button :submit, t('contact.button'), :class=> "btn btn-primary" %>
        </div>
        <br>
      </div>
    <% end %>
  </div>
</section>
