<h6 class="my-4"><small><%= link_to 'Activités à venir', group_user_path(@user.group_id, @user.id), class:'link_bar' %> | <%= link_to 'Activités passées', '?dash=passees', class:'link_bar' %> | <b><%= link_to 'Vestiaire', '?dash=vestiaire', class:'link_bar' %></b>
</small></h6>
<div class="row">
<%
vestiaire = Newsfeed.where(user_id:@user.id)
for v in vestiaire
%>
<div class="col-md-6 portfolio-item">
  <div class="card h-100">
      <div class="card-body">
      <%= user_picture(@user) %>
      <span>
      <p class="card-text"><%= v.created_at.to_formatted_s(:short) %></p>
      <h6 class="card-title">
          <%= v.content %>
      </h6>
      </span>
      </div>      
  </div>
</div>
<%
end
%>
</div>