    <% uri = URI.parse(request.original_url)
        user_list = []
        uris = uri.to_s

        c = 0
        if uris.include? "?filter=1"
          @vestiaires = Newsfeed.joins(:user).where("users.group_id = " + current_user.group_id.to_s).order(:created_at => 'desc')
          @vestiaires = @vestiaires.last(15)
        else
          @vestiaires = Newsfeed.joins(:user).where("users.group_id = " + current_user.group_id.to_s).last(15)
        end
          vest_lgt = @vestiaires.count

        user_list = []
        uris = uri.to_s
        if uris.include? "?filter=1" 
          @activities = @group.activities.where("date > ?", Time.now)
          @activities = @activities.sort_by &:date
        else
          pinned = @group.activities.where("date > ? AND pinned = ?", Time.now, true)
          @activities = @group.activities.where("date > ? AND pinned != ?", Time.now, true)  
          @activities = pinned + @activities
        end
        @activities = @activities.last(15)
        acti_lgt = @activities.count

        #On recupère les sports pour lesquels le gars a pas dit s'il voulait être prévenu
        tous_les_sports = Sport.all.shuffle()
        favorite = Favorite.where(user_id:current_user.id)
        compteur = 0
        @sports = []
        for t in tous_les_sports
          if Favorite.where(user_id:current_user.id,sport_id:t.id) == [] and compteur < 3
            @sports.push(Sport.where(id:t.id).first)
            compteur = compteur + 1
          elsif compteur == 3
            break
          end
        end
        #end 

        #On récupère les derniers invités inscrits.
        @invites = []
        time = Time.now.strftime("%d/%m/%Y %H:%M")
        d1 = Date.parse(time)
        d2 = (d1<<2).to_s
        derniers = User.where(group_id:current_user.group_id).where("created_at >?", d2)
        for d in derniers
          tok = Token.where(mail:d.email).count
          if tok > 0
            @invites.push(d)
          end
        end
        #end

        alli = @activities + @vestiaires + @sports + @invites
        alli = alli.shuffle()
        count = 0
        for ac in alli

        if count == 0 %>
         <%= render 'map' %>
        <div style="border:none" class="card">
            <div style="border:1px solid rgba(0, 0, 0, 0.125)" class="card hard-border">   
              <div class="card-body">          
                <span>
                  <p class="card-text">A quoi pensez-vous ?</p>
                    <h4 class="card-title">
                        
    <%= simple_form_for @newsfeed, url: group_newsfeeds_path(@group), class: 'form-inline', remote: true do |f| %>
        <%= f.text_area :content, label: t('group.content'), class: "text_area_form" %>
        <% #f.input :picture, label: t('group.picture') %>
        <%= f.submit class: 'btn btn-primary-inverted btn-block btn-folie', value: t('group.button_newsfeed'), onclick:"if (document.getElementById('newsfeed_content').value != ''){window.location.reload()}" %>
    <% end %>

                    </h4>
                </span>      
              </div>      
            </div>
        </div>
      <% 
      count = 1
      end




          if ac.class.name == 'Activity'
            activity = @group.activities.find(ac.id)
            nbr_participants = Booking.where(activity_id: ac.id).count.to_s
        %>
        <div class="card" style="border:none">
          <div class="card hard-border" style="border:1px solid rgba(0, 0, 0, 0.125)">   
            <div class="card-body">
              <% if User.where(id:activity.captain_id).first.picture_file_name != nil %>
                <%= user_picture(User.where(id:activity.captain_id).first) %>
              <% else %>
                <%= image_tag("tete.png", class:'head-icon') %>
              <% end %>
              <span>
              <%  location = ac.location_id
                  if location != nil
                    location = Location.where(id:location).first.name
                  end
              %>
              <p class="card-text">
                <% if location != nil %>
                  <%= location %>
                   - 
                <% end %>
                <%= ac.date.to_formatted_s(:short) %>
              </p>
              <h4 class="card-title">
                <%= link_to ac.name, group_activity_path(@group, ac), style:"color:black" %>
              </h4>
              </span>
              <div style="position:absolute;right:10px;top:10px">
                <% if current_user.admin == true and ac.pinned == false %>
                  <%= link_to image_tag("pin.png", class:"pin", onmouseover:"this.style.transform = 'scale(1.1)'", onmouseout:"this.style.transform = 'scale(1)'"), pin_path(ac.id), :remote => true %>
                <% elsif current_user.admin == true and ac.pinned == true %>
                  <%= link_to image_tag("pin2.png", class:"pin pinned", onmouseover:"this.style.transform = 'scale(1.1)'", onmouseout:"this.style.filter = 'invert(100%)';this.style.transform = 'scale(1)'",style:"filter:invert(100%)"), pin_path(ac.id), :remote => true %>
                <% end %>
              </div>
            </div>
            <%= sport_picture(Sport.where(id:ac.sport_id).first, @group, ac) %>
            <div class="bottom-fly">
              <div class="margin-fly">
                <div class="participants"><%= nbr_participants %> participants sur <%= ac.number_of_players %></div>
                <div class="ibelieveicanfly">
                  <% if activity.user_booked?(current_user) %>
                    <%= button_to t('group.unfly'), group_activity_booking_path(@group, activity, activity.bookings), method: :delete, class: 'ibelieve-f' %>
                  <% else %>
                    <%= button_to t('group.fly'), group_activity_bookings_path(@group, activity), class: 'ibelieve-f-b' %>
                  <% end %>              
                </div>
              </div>
            </div>
          </div>
        </div>


        <%
          elsif ac.class.name == 'Newsfeed'
            user_name = User.where(id:ac.user_id).first.name
        %>
        <div class="card" style="border:none">
          <div class="card hard-border" style="border:1px solid rgba(0, 0, 0, 0.125)">   
            <div class="card-body">
              <%= image_tag("tete.png", class:'head-icon') %>
              <span>
              <p class="card-text">
                <%= link_to user_name, group_user_path(@group, ac.user_id), style:"color:black" %> - <%= ac.created_at.to_formatted_s(:short) %>
              </p>
              <h6 class="card-title">
                <%= ac.content %>
              </h6>
              </span>
            </div>
          </div>
        </div>

        <%
          elsif ac.class.name == 'Sport'
        %>
        <div class="card" style="border:none">
          <div class="card hard-border" style="border:1px solid rgba(0, 0, 0, 0.125)">   
            <div class="card-body">
              <span>
              <h6 class="card-title">
                Souhaitez-vous recevoir des notifications pour le sport suivant : <b><%= ac.name %></b> ?
              </h6>
              <h4 style="width: 100%;text-align: center">
                <i class="fa fa-lightbulb-o" aria-hidden="true"></i>
              </h4>
              </span>
            </div>
            <div class="bottom-fly">
              <div class="margin-fly">
                <div class="ibelieveicanfly2">
                  <%= link_to 'Oui', faddy_path(ac.id), :remote => true, class: 'ibelieve-f' %>
                  <%= link_to 'Non', faddn_path(ac.id), :remote => true, class: 'ibelieve-f' %>
                </div>
              </div>
            </div>
          </div>
        </div>

        <%
          elsif ac.class.name == 'User'
            hote = Token.where(mail:ac.email).first.original_id
            hote = User.where(id:hote).first.name
        %>
        <div class="card" style="border:none">
          <div class="card hard-border" style="border:1px solid rgba(0, 0, 0, 0.125)">   
            <div class="card-body">
              <span>
              <h6 style="width: 100%;">
                Bienvenue à : <b><%= link_to ac.name, group_user_path(@group, ac.id),style:"color:#0075A2" %></b>
              </h6>
              <h6 class="card-title" style="margin: 0">
                <%= link_to 'Invitation envoyée par ' + hote, group_users_path(current_user.group), style:'color:black;font-style:italic;font-size:13px' %>
              </h6>
              </span>
            </div>
          </div>
        </div>

        <%  
          end
        end
    %>
