      <%    pinned = @group.activities.where("date > ? AND pinned = ?", Time.now, true)
            @activities = @group.activities.where("date > ? AND pinned != ?", Time.now, true)  
            @activities = pinned + @activities

            for ac in @activities
              activity = @group.activities.find(ac.id)
              nbr_participants = Booking.where(activity_id: ac.id).count.to_s
      %>
        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card hard-border">   
            <div class="card-body">
              <img src="images/tete.png" class="head-icon">
              <span>
              <p class="card-text">Pigalle <%= ac.date.to_formatted_s(:short) %></p>
              <h4 class="card-title">
                <%= ac.name %>
              </h4>
              </span>
              <div style="position:absolute;right:10px;top:10px">
                <% if current_user.admin == true and ac.pinned == false %>
                  <%= link_to image_tag("pin.png", class:"pin", onmouseover:"this.style.transform = 'scale(1.1)'", onmouseout:"this.style.transform = 'scale(1)'"), pin_path(ac.id), :remote => true %>
                <% else current_user.admin == true and ac.pinned == true %>
                  <%= link_to image_tag("pin.png", class:"pin pinned", onmouseover:"this.style.transform = 'scale(1.1)'", onmouseout:"this.style.filter = 'invert(100%)';this.style.transform = 'scale(1)'",style:"filter:invert(100%)"), pin_path(ac.id), :remote => true %>
                <% end %>
              </div>
            </div>
            <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
            <div class="bottom-fly">
              <div class="margin-fly">
                <div class="participants"><%= nbr_participants %> participants sur <%= ac.number_of_players %></div>
                <div class="ibelieveicanfly">
                  <% if activity.user_booked?(current_user) %>
                    <%= button_to t('group.unfly'), group_activity_booking_path(@group, activity, activity.bookings), method: :delete, class: 'ibelieve-f' %>
                  <% else %>
                    <%= button_to t('group.fly'), group_activity_bookings_path(@group, activity), class: 'ibelieve-f' %>
                  <% end %>              
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>

