    <% uri = URI.parse(request.original_url)
        user_list = []
        uris = uri.to_s
        if uris.include? "?filter=1" 
          @activities = @group.activities.where("date > ?", Time.now)
          @activities = @activities.sort_by &:date
        else
          pinned = @group.activities.where("date > ? AND pinned = ?", Time.now, true)
          @activities = @group.activities.where("date > ? AND pinned != ?", Time.now, true)  
          @activities = pinned + @activities
        end
          count = 0
          for ac in @activities
            activity = @group.activities.find(ac.id)
            nbr_participants = Booking.where(activity_id: ac.id).count.to_s
    %>
        <div class="card" style="border:none">
          <div class="card hard-border" style="border:1px solid rgba(0, 0, 0, 0.125)">   
            <div class="card-body">
              <%= image_tag("tete.png", class:'head-icon') %>
              <span>
              <%  location = ac.location_id
                  if location != nil
                    location = Location.where(id:location).first.name
                  end
              %>
              <p class="card-text">
                <% if location != nil %>
                  <%= location %>
                   - 
                <% end %>
                <%= ac.date.to_formatted_s(:short) %>
              </p>
              <h4 class="card-title">
                <%= link_to ac.name, group_activity_path(@group, ac), style:"color:black" %>
              </h4>
              </span>
              <div style="position:absolute;right:10px;top:10px">
                <% if current_user.admin == true and ac.pinned == false %>
                  <%= link_to image_tag("pin.png", class:"pin", onmouseover:"this.style.transform = 'scale(1.1)'", onmouseout:"this.style.transform = 'scale(1)'"), pin_path(ac.id), :remote => true %>
                <% elsif current_user.admin == true and ac.pinned == true %>
                  <%= link_to image_tag("pin.png", class:"pin pinned", onmouseover:"this.style.transform = 'scale(1.1)'", onmouseout:"this.style.filter = 'invert(100%)';this.style.transform = 'scale(1)'",style:"filter:invert(100%)"), pin_path(ac.id), :remote => true %>
                <% end %>
              </div>
            </div>
            <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
            <div class="bottom-fly">
              <div class="margin-fly">
                <div class="participants"><%= nbr_participants %> participants sur <%= ac.number_of_players %></div>
                <div class="ibelieveicanfly">
                  <% if activity.user_booked?(current_user) %>
                    <%= button_to t('group.unfly'), group_activity_booking_path(@group, activity, activity.bookings), method: :delete, class: 'ibelieve-f' %>
                  <% else %>
                    <%= button_to t('group.fly'), group_activity_bookings_path(@group, activity), class: 'ibelieve-f' %>
                  <% end %>              
                </div>
              </div>
            </div>
          </div>
        </div>
      <% if count == 0 %>
        <div style="border:none" class="card">
            <div style="border:1px solid rgba(0, 0, 0, 0.125)" class="card hard-border">   
              <div class="card-body">          
                <span>
                  <p class="card-text">A quoi pensez-vous ?</p>
                    <h4 class="card-title">
                        
    <%= simple_form_for @newsfeed, url: group_newsfeeds_path(@group), class: 'form-inline', remote: true do |f| %>
        <%= f.text_area :content, label: t('group.content'), class: "text_area_form" %>
        <% #f.input :picture, label: t('group.picture') %>
        <%= f.submit class: 'btn btn-primary-inverted btn-block btn-folie', value: t('group.button_newsfeed'), onclick:"if (document.getElementById('newsfeed_content').value != ''){window.location.reload()}" %>
    <% end %>

                    </h4>
                </span>      
              </div>      
            </div>
        </div>
      <% 
      count = 1
      end %>
      <% end %>

