<div class="panel-body">
  <ul class="commentList">
    <% if @newsfeeds.exists? %>
      <% @newsfeeds.each do |newsfeed| %>
        <li>
          <div class="commenterImage">
            <%= link_to group_user_path(@group, newsfeed.user) do %>
            <% if newsfeed.user.picture.exists? %>
            <%= image_tag newsfeed.user.picture(:thumb) %>
            <% else %>
            <%= image_tag "avatarnewsfeed.png" %>
            <% end %>
            <% end %>
          </div>
          <div class="commentText">
            <% if newsfeed.picture.presence %>
              <p><%= image_tag(newsfeed.picture, width: "100%") %></p>
            <% end %>
            <% if newsfeed.content.presence %>
              <p><%= newsfeed.content %></p>
            <% end %>
            <span class="date sub-text"><%= l(newsfeed.created_at, format: :short) %></span>
          </div>
        </li>
      <% end %>
    <% end %>
  </ul>
  <%= simple_form_for @newsfeed, url: group_newsfeeds_path(@group), class: 'form-inline' do |f| %>
    <%= f.input :content %>
    <%= f.input :picture %>
    <div class="text-center">
      <%= f.button :button do %>
      <div class="btn btn-newsfeed">je veux partager cette folie</div>
    </div>
      <% end %>
  <% end %>
</div>



<hr>
<div class="text-center">
  <h3>Top Group Members</h3>
</div>


<h5><a href="#"><i class="glyphicon glyphicon-user"></i><%= @group.name %></a></h5>
<h5><a href="#"><i class="glyphicon glyphicon-user"></i> Max Axleton</a></h5>
<h5><a href="#"><i class="glyphicon glyphicon-user"></i> Devin Skelly</a></h5>
<h5><a href="#"><i class="glyphicon glyphicon-user"></i> Katie Kowalski</a></h5>
<h5><a href="#"><i class="glyphicon glyphicon-user"></i> Amet Deberge</a></h5>

<hr>
<div class="text-center">
  <h4>Best feeds</h4>
</div>

<div class="media">
  <a class="pull-left" href="#">
    <img class="media-object" src="http://placehold.it/80/F0F0F0">
  </a>
  <div class="media-body">
    <h5 class="media-heading"><a href="/tagged/modal" target="ext" class="pull-right"><i class="glyphicon glyphicon-share"></i></a> <a href="#"><strong>Modal</strong></a></h5>
    <small>Examples using the Bootstrap modal.</small><br>
    <span class="badge">87</span>
  </div>
</div>
<div class="media">
  <a class="pull-left" href="#">
    <img class="media-object" src="http://placehold.it/80/F0F0F0">
  </a>
  <div class="media-body">
    <h5 class="media-heading"><a href="/tagged/slider" target="ext" class="pull-right"><i class="glyphicon glyphicon-share"></i></a> <a href="#"><strong>Carousel</strong></a></h5>
    <small>How to use the Bootstrap slider.</small><br>
    <span class="badge">322</span>
  </div>
</div>
<div class="media">
  <a class="pull-left" href="#">
    <img class="media-object" src="http://placehold.it/80/F0F0F0">
  </a>
  <div class="media-body">
    <h5 class="media-heading"><a href="/tagged/typography" target="ext" class="pull-right"><i class="glyphicon glyphicon-share"></i></a> <a href="#"><strong>Typography</strong></a></h5>
    <small>See the various textual elements and options.</small><br>
    <span class="badge">44</span>
  </div>
</div>
<div class="media">
  <a class="pull-left" href="#">
    <img class="media-object" src="http://placehold.it/80/F0F0F0">
  </a>
  <div class="media-body">
    <h5 class="media-heading"><a href="/tagged/media" target="ext" class="pull-right"><i class="glyphicon glyphicon-share"></i></a> <a href="#"><strong>@Media</strong></a></h5>
    <small>Use @media queries to get the layout you want.</small><br>
    <span class="badge">119</span>
  </div>
</div>
