<li>
  <div class="commenterImage">
    <%= link_to group_user_path(@group, newsfeed.user) do %>
    <% if newsfeed.user.picture.exists? %>
    <%= image_tag newsfeed.user.picture(:thumb) %>
    <% else %>
    <%= image_tag "avatarnewsfeed.png" %>
    <% end %>
    <% end %>
  </div>
  <div class="commentText">
    <% if newsfeed.picture.presence %>
      <p><%= image_tag(newsfeed.picture, width: "100%") %></p>
    <% end %>
    <% if newsfeed.content.presence %>
      <p><%= newsfeed.content %></p>
    <% end %>
    <span class="date sub-text"><%= l(newsfeed.created_at, format: :short) %></span>
  </div>
</li>
