<header class="masthead">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-4 text-left">
        <h1><a href="#" title="Scroll down for your viewing pleasure"><%= @group.name %></a>
        </h1>
      </div>
      <div class="col-xs-12 col-sm-4 col-sm-offset-4">
        <%= form_tag group_root_path(current_user.group), :method => :get do %>
          <%= text_field_tag :city, nil, class: "form-control", name: "user_input_city", id: "user_input_city", placeholder: 'Où veux-tu flyer ?' %>
          <%= submit_tag "Search", class: 'btn navbar-wagon-button' %>
        <% end %>
      </div>
      <div class="col-xs-12 col-sm-4 text-right">
        <div class="well pull-right">
          <%= image_tag @group.picture(:thumb) %>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Begin Body -->
<div class="container">
  <div class="no-gutter row">
    <div class="col-md-8" id="content">
      <div class="panel">
        <div class="panel-heading text-center" style="background-color:#111;color:#fff;">Prochains sports</div>
        <div class="panel-body">
          <div class="row">


              <% @activities.each do |activity| %>
                <% if activity.date > Date.yesterday %>
                  <div class="col-sm-12 activity" >
                    <div class="row" >
                      <div class="col-sm-8" >
                        <%= link_to group_activity_path(@group, activity) do %>
                          <h2><%= activity.sport.name %></h2>
                          <li class="list-group-item list-group-item-info"><%= activity.name %></li>
                            <br>
                          <span class="label label-default text-left"><%= activity.date %></span>
                            <br>
                          <span class="label label-success"><%= activity.open %></span>
                            <br>
                          <%= activity.bookings.count %> / <%= activity.number_of_players %>
                        <% end %>
                          <br>
                        <% if activity.current_user_booked == current_user.id  %>
                          <%= button_to "Je me desinscris", group_activity_booking_path(@group, activity, activity.bookings), method: :delete %>
                        <% elsif activity.full? %>
                          <p> Complet, mais reste la si desistement il y a ! </p>
                        <% else %>
                          <%= button_to "Je m'inscris", group_activity_bookings_path(@group, activity) %>
                        <% end %>
                      </div>
                      <div class="col-sm-4 text-center">
                        <br>
                        <br>
                          <a href="#"><%= image_tag activity.sport.picture(:thumb)%></a>
                      </div>
                      <%= link_to group_user_path(@group, activity.captain) do %>
                      <%= activity.captain.name %>
                      <% end %>
                    </div>
                  </div>
              <% end %>
            <% end %>
          </div>
        </div>
        <br>
        <div id="map" style="width: 100%; height: 300px;"></div>
          <% content_for(:after_js) do %>
            <%= javascript_tag do %>
              $(document).on('ready', function() {
                handler = Gmaps.build('Google');
                handler.buildMap({
                  internal: { id: 'map' },
                  provider: { scrollwheel: false }},
                function(){
                  markers = handler.addMarkers(<%= raw @hash.to_json %>);
                  handler.bounds.extendWith(markers);
                  handler.fitMapToBounds();
                });
              })
            <% end %>
          <% end %>
        <!--/panel-body-->
      </div><!--/panel-->
      <!--/end right column-->
    </div>
    <!-- left side column -->


    <!--mid column-->
    <div class="col-md-4">
      <div class="panel" id="">
        <div class="panel-heading text-center" style="background-color:#555;color:#eee;">Newsfeed</div>
        <div class="panel-body">


          <div class="well">
            <h3> Dernières nouvelle de la team <%= %> </h3>
            <p>
              In simple terms, a responsive web design figures out what resolution of
              device it's being served on. Flexible grids then size correctly to fit
              the screen.
            </p>
            <p><a href="http://www.bootply.com/bootstrap-3-migration-guide" target="ext">Read our migration guide for help with upgrading to Bootstrap 3.</a></p>
          </div>

          <hr>

          <h3>Top Members</h3>

          <h5><a href="#"><i class="glyphicon glyphicon-user"></i> John Chapman</a></h5>
          <h5><a href="#"><i class="glyphicon glyphicon-user"></i> Max Axleton</a></h5>
          <h5><a href="#"><i class="glyphicon glyphicon-user"></i> Devin Skelly</a></h5>
          <h5><a href="#"><i class="glyphicon glyphicon-user"></i> Katie Kowalski</a></h5>
          <h5><a href="#"><i class="glyphicon glyphicon-user"></i> Amet Deberge</a></h5>

          <hr>

          <img class="img-responsive" src="//placehold.it/300x200/FFF">

          <h4>Best feeds</h4>

          <div class="media">
            <a class="pull-left" href="#">
              <img class="media-object" src="http://placehold.it/80/F0F0F0">
            </a>
            <div class="media-body">
              <h5 class="media-heading"><a href="/tagged/modal" target="ext" class="pull-right"><i class="glyphicon glyphicon-share"></i></a> <a href="#"><strong>Modal</strong></a></h5>
              <small>Examples using the Bootstrap modal.</small><br>
              <span class="badge">87</span>
            </div>
          </div>
          <div class="media">
            <a class="pull-left" href="#">
              <img class="media-object" src="http://placehold.it/80/F0F0F0">
            </a>
            <div class="media-body">
              <h5 class="media-heading"><a href="/tagged/slider" target="ext" class="pull-right"><i class="glyphicon glyphicon-share"></i></a> <a href="#"><strong>Carousel</strong></a></h5>
              <small>How to use the Bootstrap slider.</small><br>
              <span class="badge">322</span>
            </div>
          </div>
          <div class="media">
            <a class="pull-left" href="#">
              <img class="media-object" src="http://placehold.it/80/F0F0F0">
            </a>
            <div class="media-body">
              <h5 class="media-heading"><a href="/tagged/typography" target="ext" class="pull-right"><i class="glyphicon glyphicon-share"></i></a> <a href="#"><strong>Typography</strong></a></h5>
              <small>See the various textual elements and options.</small><br>
              <span class="badge">44</span>
            </div>
          </div>
          <div class="media">
            <a class="pull-left" href="#">
              <img class="media-object" src="http://placehold.it/80/F0F0F0">
            </a>
            <div class="media-body">
              <h5 class="media-heading"><a href="/tagged/media" target="ext" class="pull-right"><i class="glyphicon glyphicon-share"></i></a> <a href="#"><strong>@Media</strong></a></h5>
              <small>Use @media queries to get the layout you want.</small><br>
              <span class="badge">119</span>
            </div>
          </div>

        </div>
      </div><!--/panel-->
    </div><!--/end mid column-->

    <!-- right content column-->
  </div>

</div>





