<h6 class="my-4"><small><b><%= link_to 'Général', account_dashboard_path, class:'link_bar' %></b> | <%= link_to 'Vestiaire', '?dash=vestiaire', class:'link_bar' %> | <%= link_to 'Activités à venir', '?dash=futur', class:'link_bar' %> | <%= link_to 'Activités passées', '?dash=passees', class:'link_bar' %>
<% if current_user.admin == true %>
 | <%= link_to 'Groupe', '?dash=corpo', class:'link_bar' %>
 | <%= link_to 'Membres', '?dash=membres', class:'link_bar' %>
<% end %>
</small></h6>
<div class="row">
    <div class="col-md-6 portfolio-item">
      <div class="card h-100">
          <a href="#"><img alt="" src="http://placehold.it/700x400" class="card-img-top"></a>
          <div class="card-body">
          <h4 class="card-title">
              <a href="#">Coucou</a>
          </h4>
          <p class="card-text">Bravo vous avez trouvé la page cachée. Allez voir votre chef. Vous méritez une augmentation.</p>
          </div>
      </div>
    </div>
</div>