<h6 class="my-4"><small><%= link_to 'Général', account_dashboard_path, class:'link_bar' %> | <%= link_to 'Vestiaire', '?dash=vestiaire', class:'link_bar' %> | <%= link_to 'Activités à venir', '?dash=futur', class:'link_bar' %> | <%= link_to 'Activités passées', '?dash=passees', class:'link_bar' %>
<% if current_user.admin == true %>
 | <%= link_to 'Groupe', '?dash=corpo', class:'link_bar' %>
 | <b><%= link_to 'Membres', '?dash=membres', class:'link_bar' %></b>
<% end %>
</small></h6>

<div class="row">
<%
users = User.where(group_id:current_user.group_id).order(:created_at => 'desc') 
for a in users
%>
<div class="col-md-6 portfolio-item">
  <div class="card h-100">
      <div class="card-body">
        <%= image_tag("tete.png", class:'head-icon dashboard-avatar') %>
        <span>
          <p class="card-text"><%= a.name %></p>
          <p class="card-title info-profile">Membre depuis <%= a.created_at.to_formatted_s(:short) %></p>
        </span>
        <div style="position:absolute;right:10px;top:10px">
          <% if a.allowed_to_log_in == true %>
            <%= link_to(content_tag(:i,nil,class: 'fa fa-trash-o',style:'color:#ED6A5A'), group_user_block_path(current_user.group_id,a.id), :remote => true, :title => 'Bloquer') %>
          <% else %>
            <%= link_to(content_tag(:i,nil,class: 'fa fa-trash-o',style:'color:#0075A2'), group_user_block_path(current_user.group_id,a.id), :remote => true, :title => 'Débloquer') %>
          <% end %>
        </div>
      </div>   
  </div>
</div>
<%
end
%>
</div>