<h6 class="my-4"><small><%= link_to 'Général', account_dashboard_path, class:'link_bar' %> | <%= link_to 'Vestiaire', '?dash=vestiaire', class:'link_bar' %> | <%= link_to 'Activités à venir', '?dash=futur', class:'link_bar' %> | <b><%= link_to 'Activités passées', '?dash=passees', class:'link_bar' %></b>
<% if current_user.admin == true %>
 | <%= link_to 'Groupe', '?dash=corpo', class:'link_bar' %>
<% end %>
</small></h6>
<div class="row">
<%
activites = Activity.where(group_id:current_user.group_id).where("date <?", Time.now)
for a in activites
%>
<div class="col-md-6 portfolio-item">
  <div class="card h-100">
      <div class="card-body">
        <%= image_tag("tete.png", class:'head-icon') %>
        <span>
          <p class="card-text"><%= a.name + " - " + a.date.to_s %></p>

        </span>
      </div>
      <div class="card-body" style="margin-top: -30px">
        <%= a.description %>
      </div>     
  </div>
</div>
<%
end
%>
</div>