<div class="banner">
<div class="text-center">
  <h1> Bienvenue sur Sporti<strong>fly</strong> ! </h1>
</div>

<br>

<div class="container sign-class">
  <div class="row connexion">
    <div class="col-sm-4 form-group">
      <h2>Sign up</h2>
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>
        <div class="form-inputs">
          <%= f.input :email, required: true, autofocus: true %>
          <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
          <%= f.input :password_confirmation, required: true %>
        </div>
        <div class="form-actions text-center">
          <%= f.button :button do %>
          <div class="btn btn-newsfeed">Sign up</div>
          <% end %>
        </div>
      <% end %>
    </div>

    <div class="col-sm-4"></div>



    <div class="col-sm-4">
      <div class="log-in">
      <h2>Log in</h2>
      </div>
      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-inputs">
          <div class="new-three">
            <%= f.input :email, required: false, autofocus: true %>
          </div>
          <div class="new-two">
            <%= f.input :password, required: false %>
          </div>

        </div>
        <div class="form-actions new-one">
          <%= f.button :button do %>
          <div class="btn btn-newsfeed">Log in</div>
          <% end %>
        </div>
          <div class="remember-me">
          <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
          </div>
      <% end %>
      <div class="new-texte">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
</div>

<div class="banner-bottom">
<div class="container">
  <div class="col-sm-12 col-md-6">
    <h1> Créez du lien et défoulez vous après ce meeting ! </h1>
      <p> Faites de votre entreprise un de nos partenaires et rejoignez la communauté.</p>
      <p> Proposez une activité, son lieu et son horaire, invitez vos amis et nous bookons pour vous ! On raconte que Jeanne du service RH est imbattable au tennis...</p>

  </div>
  <div class="row">
    <div class="col-sm-12 col-md-6">
      <h3> Plateforme de sport et de fun pour votre entreprise ou école </h3>
      <h3> Proposez une activité sportive en guise d'after-work </h3>
      <h3> Faites connaissance avec Régis de la compta, ou Margaux du BDA </h3>
    </div>
  </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

</div>

